        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Blank</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            資料填寫
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-pills">
                                <li class="active"><a href="#home-pills" data-toggle="tab">加盟店帳號</a>
                                </li>
                                <li><a href="#profile-pills" data-toggle="tab">員工帳號</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="home-pills">
                                    <p></p>

                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <form role="form" action="account_management.php" method="post">
                                                    <div class="form-group">
                                                        <label>姓名:</label>
                                                        <input class="form-control" name="user_name" placeholder="王小明">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>性別:</label>
                                                        <br>
                                                        <label class="radio-inline">
                                                            <input type="radio" name="user_gendor" id="boss_male" value="男" checked>男
                                                        </label>
                                                        <label class="radio-inline">
                                                            <input type="radio" name="user_gendor" id="boss_female" value="女">女
                                                        </label>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>身分證字號:</label>
                                                        <input class="form-control" name="user_id" placeholder="F123456789">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>電話:</label>
                                                        <input class="form-control" name="user_tel" placeholder="02-12345678">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>帳號:</label>
                                                        <input class="form-control" name="user_account" placeholder="happytea account">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>密碼:</label>
                                                        <input class="form-control" name="user_password" placeholder="happytea password">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>加盟店店名:</label>
                                                        <input class="form-control" name="store_name" placeholder="store text">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>加盟店電話:</label>
                                                        <input class="form-control" name="store_tel" placeholder="Enter text">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>加盟店地址:</label>
                                                        <input class="form-control" name="store_address" placeholder="Enter text">
                                                    </div>
                                                    <button type="submit" class="btn btn-default">Submit Button</button>
                                                    <button type="reset" class="btn btn-default">Reset Button</button>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- /.row (nested) -->
                                    </div>
                                    <!-- /.panel-body -->
                                </div>
                                <!-- /.panel -->

                                </div>
                                <div class="tab-pane fade" id="profile-pills">

                                    <p></p>
                                    <!-- add-->

                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <form role="form" action="account_management.php" method="post">
                                                    <div class="form-group">
                                                        <label>姓名:</label>
                                                        <input name="user_name" class="form-control" placeholder="王小明">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>性別:</label>
                                                        <br>
                                                        <label class="radio-inline">
                                                            <input type="radio" name="user_gendor" id="staff_male" value="男" checked>男
                                                        </label>
                                                        <label class="radio-inline">
                                                            <input type="radio" name="user_gendor" id="staff_female" value="女">女
                                                        </label>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>身分證字號:</label>
                                                        <input name="user_id" class="form-control" placeholder="F123456789">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>電話:</label>
                                                        <input name="user_tel" class="form-control" placeholder="Enter text">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>帳號:</label>
                                                        <input name="user_account" class="form-control" placeholder="Enter text">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>密碼:</label>
                                                        <input name="user_password" class="form-control" placeholder="Enter text">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>權限:</label>
                                                        <br>
                                                        <label class="radio-inline">
                                                            <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="option_a" checked>群組一
                                                        </label>
                                                        <label class="radio-inline">
                                                            <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="option_b">群組二
                                                        </label>
                                                    </div>
                                                    <button type="submit" class="btn btn-default">Submit Button</button>
                                                    <button type="reset" class="btn btn-default">Reset Button</button>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- /.row (nested) -->
                                    </div>
                                    <!-- /.panel-body -->
                                </div>
                                <!-- /.panel -->
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
                
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    <!-- jQuery -->
    <script src="./includes/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="./includes/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="./includes/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="./templates/includes/sb-admin-2/js/sb-admin-2.js"></script>
