	<nav> <!-- custom navigation -->
		<hr>
			<a href="report.php" rel="external" class="w3-center">營運報表</a>
			<br>
			<a href="sms_promote.php" rel="external" class="w3-center">簡訊推播</a>
			<br>
			<a href="call.php" rel="external" class="w3-center">上游叫料</a>
			<br>
			<a href="inventory.php" rel="external" class="w3-center">叫料進度</a>
			<br>
			<a href="register.php" rel="external" class="w3-center">帳號新增</a>
			<br>
            <a href="staff_login.php" rel="external" class="w3-center">登出</a>
        <hr>
	</nav>
