        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Flot</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <!-- /.col-lg-12 -->
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            圓餅圖
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="flot-chart">
                                <div class="flot-chart-content" id="flot-pie-chart"></div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            折線圖
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="flot-chart">
                                <div class="flot-chart-content" id="flot-line-chart"></div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-lg-12">
                    <table  class="table" id="dataTable">
                        <thead>
                            <tr>
                                <th width="20%">時間</td>
                                <th width="20%">系列</td>
                                <th width="20%">餐點</td>
                                <th width="10%">數量</td>
                                <th width="10%">價格</td>
                            </tr>
                        </thead>

                        <tbody>
                            {% for item in data %}
                            <tr>
                                <td>{{ item.time }}</td>
                                <td>{{ item.s_text }}</td>
                                <td>{{ item.m_text }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.price }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    <!-- jQuery -->
    <script src="./includes/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="./includes/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="./includes/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Flot Charts JavaScript -->
    <script src="./includes/vendor/flot/excanvas.min.js"></script>
    <script src="./includes/vendor/flot/jquery.flot.js"></script>
    <script src="./includes/vendor/flot/jquery.flot.pie.js"></script>
    <script src="./includes/vendor/flot/jquery.flot.resize.js"></script>
    <script src="./includes/vendor/flot/jquery.flot.time.js"></script>
    <script src="./includes/vendor/flot/jquery.flot.axislabels.js"></script>
    <script src="./includes/vendor/flot-tooltip/jquery.flot.tooltip.min.js"></script>
    <!-- <script src="./templates/includes/sb-admin-2/js/flot-data.js"></script> -->

    <!-- DataTables JavaScript -->
    <script src="./includes/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="./includes/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="./includes/vendor/datatables-responsive/dataTables.responsive.js"></script>
    <link rel="stylesheet" type="text/css" href="./includes/vendor/datatables/css/dataTables.bootstrap.min.css">


    <!-- Custom Theme JavaScript -->
    <script src="./templates/includes/sb-admin-2/js/sb-admin-2.js"></script>

    <!-- Custom JavaScript/CSS -->
    <script type="text/javascript" src="./templates/includes/js/report.js"></script>
    <link rel="stylesheet" type="text/css" href="./templates/includes/css/report.css">
