<li>
    <a href="dashboard.php"><i class="fa fa-dashboard fa-fw"></i>系統總覽</a>
</li>

<li>
    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>物料管理<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="call_stuff.php">叫料通知</a>
        </li>
        <li>
            <a href="manage_stuff.php">編輯物料</a>
        </li>
    </ul>
    <!-- /.nav-second-level -->
</li>

<li>
    <a href="sms_promote.php"><i class="fa fa-edit fa-fw"></i>簡訊推播</a>
</li>

<li>
    <a href="edit_menu.php"><i class="fa fa-table fa-fw"></i>菜單編輯</a>
</li>
