<li>
    <a href="dashboard.php"><i class="fa fa-dashboard fa-fw"></i>系統總覽</a>
</li>

<li>
    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>營運報表<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="total_report.php">總報表</a>
        </li>
        <li>
            <a href="single_report.php">分店報表</a>
        </li>
    </ul>
    <!-- /.nav-second-level -->
</li>

<li>
    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>物料管理<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="called_stuff.php">叫料通知</a>
        </li>
        <li>
            <a href="manage_stuff.php">編輯物料</a>
        </li>
    </ul>
    <!-- /.nav-second-level -->
</li>

<li>
    <a href="sms_promote.php"><i class="fa fa-edit fa-fw"></i>簡訊推播</a>
</li>

<li>
    <a href="edit_menu.php"><i class="fa fa-table fa-fw"></i>菜單編輯</a>
</li>

<li>
    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>帳號管理<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="account_management.php">帳號新增</a>
        </li>
        <li>
            <a href="account_edit.php">帳號編輯</a>
        </li>
        <li>
            <a href="permission_mange.php">權限管理</a>
        </li>
    </ul>
    <!-- /.nav-second-level -->
</li>
