        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">分店報表</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <ul class="nav nav-pills">
                            <li class="active"><a href="#home-pills" data-toggle="tab">本日營收</a>
                            </li>
                            <li><a href="#profile-pills" data-toggle="tab">過去營收</a>
                            </li>
                        </ul>
                        <p></p>
                        {% if TOP_SHOP == true %}

                        <span>
                            <select id="select_shop">
                            {% for shop_info in shop_info_array %}
                                <option>{{shop_info.shop_name}} </option>
                            {% endfor %}
                            </select>
                        </span>
                        {% endif %}
                        <hr>

                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="home-pills">


                                <div class="col-lg-6">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="flot-chart">品項與營收分析
                                                <div class="flot-chart-content" id="flot-pie-chart"></div>
                                            </div>
                                        </div>
                                        <!-- /.panel-body -->
                                    </div>
                                    <!-- /.panel -->
                                </div>
                                <div class="col-lg-6">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="flot-chart">
                                                <div class="flot-chart-content" id="flot-bar-chart"></div>
                                            </div>
                                        </div>
                                        <!-- /.panel-body -->
                                    </div>
                                    <!-- /.panel -->
                                </div>
                                <div class="col-lg-6">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="flot-chart">品項與杯數分析
                                                <div class="flot-chart-content" id="flot-pie-chart2"></div>
                                            </div>
                                        </div>
                                        <!-- /.panel-body -->
                                    </div>
                                    <!-- /.panel -->
                                </div>
                                <div class="col-lg-6">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="flot-chart">
                                                <div class="flot-chart-content" id="flot-bar-chart2"></div>
                                            </div>
                                        </div>
                                        <!-- /.panel-body -->
                                    </div>
                                    <!-- /.panel -->
                                </div>

                                <div class="row">
                                        <div class="col-lg-12">
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example1" >
                                                    <thead>
                                                        <tr>
                                                            <th>時間</th>
                                                            <th>系列</th>
                                                            <th>品項</th>
                                                            <th>數量</th>
                                                            <th>總價格</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                    </tbody>
                                                    <tfoot>
                                                    </tfoot>
                                                    </table>
                                                <!-- /.table-responsive -->
                                                </div>
                                            <!-- /.panel-body -->
                                            </div>
                                        </div>
                                </div>
                                <!-- /.row (nested) -->
                                </div>
                                <div class="tab-pane fade" id="profile-pills">

                                    <div class="row col-lg-12">
                                        <input class="form-control" type="text" id="from_date" data-format="YYYY-MM-DD" data-template="YYYY / MM / DD" name="datetime" value="2017-01-01">
                                            <span>~</span>
                                        <input class="form-control" type="text" id="to_date" data-format="YYYY-MM-DD" data-template="YYYY / MM / DD" name="datetime" value="2017-01-01">
                                        <button id="search_report" type="button" class="btn btn-primary pull-right">搜尋</button>
                                        <p></p>
                                    </div>

                                     <div id="range_report"  hidden> 
                                        <div class="col-lg-6">
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <div class="flot-chart">品項與營收分析
                                                        <div class="flot-chart-content" id="flot-pie-chart3"></div>
                                                    </div>
                                                </div>
                                                <!-- /.panel-body -->
                                            </div>
                                            <!-- /.panel -->
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <div class="flot-chart">
                                                        <div class="flot-chart-content" id="flot-bar-chart3"></div>
                                                    </div>
                                                </div>
                                                <!-- /.panel-body -->
                                            </div>
                                            <!-- /.panel -->
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <div class="flot-chart">品項與杯數分析
                                                        <div class="flot-chart-content" id="flot-pie-chart4"></div>
                                                    </div>
                                                </div>
                                                <!-- /.panel-body -->
                                            </div>
                                            <!-- /.panel -->
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <div class="flot-chart">
                                                        <div class="flot-chart-content" id="flot-bar-chart4"></div>
                                                    </div>
                                                </div>
                                                <!-- /.panel-body -->
                                            </div>
                                            <!-- /.panel -->
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="panel panel-default">
                                                    <div class="panel-body">
                                                        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example2">
                                                        <thead>
                                                            <tr>
                                                                <th>時間</th>
                                                                <th>系列</th>
                                                                <th>品項</th>
                                                                <th>數量</th>
                                                                <th>總價格</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                        </tbody>
                                                        <tfoot>
                                                        </tfoot>
                                                        </table>
                                                    <!-- /.table-responsive -->
                                                    </div>
                                                <!-- /.panel-body -->
                                                </div>
                                            </div>
                                        </div>
                                    <!-- /.row (nested) -->
                                    </div>



                                </div>

                            </div>


                        </div>
                        <!--end of tab-content -->

                    </div>
                </div>
            </div>
            <!-- /.row -->
        <!-- /#page-wrapper -->


    <!-- jQuery -->
    <script src="./includes/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="./includes/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="./includes/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Flot Charts JavaScript -->
    <script src="./includes/vendor/flot/excanvas.min.js"></script>
    <script src="./includes/vendor/flot/jquery.flot.js"></script>
    <script src="./includes/vendor/flot/jquery.flot.pie.js"></script>
    <script src="./includes/vendor/flot/jquery.flot.resize.js"></script>
    <script src="./includes/vendor/flot/jquery.flot.time.js"></script>
    <script src="./includes/vendor/flot-tooltip/jquery.flot.tooltip.min.js"></script>
    <script src="./templates/includes/js/single_report.js"></script>
    <script src="./templates/includes/js/jquery.flot.axislabels.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="./templates/includes/sb-admin-2/js/sb-admin-2.js"></script>


    <script src="./includes/vendor/combodate/combodate.js"></script>
    <script src="./includes/vendor/moment/moment.min.js"></script>

    <!-- DataTables JavaScript -->
    <script src="./includes/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="./includes/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="./includes/vendor/datatables-responsive/dataTables.responsive.js"></script>






    <script>

    $(function(){
            $('#from_date').combodate({
                minYear: 2000,
                maxYear: 2017,
                minuteStep: 10

            });
            $('#to_date').combodate({
                minYear: 2000,
                maxYear: 2017,
                minuteStep: 10

            });
    });
    </script>


